<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bullet01_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,111},{22,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{22,36}}</string>
				<key>sourceSize</key>
				<string>{24,38}</string>
			</dict>
			<key>bullet01_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,185},{22,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{22,36}}</string>
				<key>sourceSize</key>
				<string>{24,38}</string>
			</dict>
			<key>bullet01_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,74},{22,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{22,36}}</string>
				<key>sourceSize</key>
				<string>{24,38}</string>
			</dict>
			<key>bullet01_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,37},{22,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{22,36}}</string>
				<key>sourceSize</key>
				<string>{24,38}</string>
			</dict>
			<key>bullet01_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,0},{22,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{22,36}}</string>
				<key>sourceSize</key>
				<string>{24,38}</string>
			</dict>
			<key>bullet01_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,148},{22,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{22,36}}</string>
				<key>sourceSize</key>
				<string>{24,38}</string>
			</dict>
			<key>bullet01_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,111},{22,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{22,36}}</string>
				<key>sourceSize</key>
				<string>{24,38}</string>
			</dict>
			<key>bullet01_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,148},{22,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{22,36}}</string>
				<key>sourceSize</key>
				<string>{24,38}</string>
			</dict>
			<key>bullet01_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,222},{22,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{22,36}}</string>
				<key>sourceSize</key>
				<string>{24,38}</string>
			</dict>
			<key>bullet01_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,280},{22,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{22,36}}</string>
				<key>sourceSize</key>
				<string>{24,38}</string>
			</dict>
			<key>bullet01_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,317},{22,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{22,36}}</string>
				<key>sourceSize</key>
				<string>{24,38}</string>
			</dict>
			<key>bullet01_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,354},{22,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{22,36}}</string>
				<key>sourceSize</key>
				<string>{24,38}</string>
			</dict>
			<key>bullet01_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,0},{22,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{22,36}}</string>
				<key>sourceSize</key>
				<string>{24,38}</string>
			</dict>
			<key>bullet01_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,37},{22,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{22,36}}</string>
				<key>sourceSize</key>
				<string>{24,38}</string>
			</dict>
			<key>bullet01_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,185},{22,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{22,36}}</string>
				<key>sourceSize</key>
				<string>{24,38}</string>
			</dict>
			<key>bullet01_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,74},{22,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{22,36}}</string>
				<key>sourceSize</key>
				<string>{24,38}</string>
			</dict>
			<key>bullet02_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,278},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{36,36}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>bullet02_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,336},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{36,36}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>bullet02_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,352},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{36,36}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>bullet02_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,74},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{36,36}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>bullet02_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,206},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{36,36}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>bullet02_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,132},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{36,36}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>bullet02_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,169},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{36,36}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>bullet02_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,336},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{36,36}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>bullet02_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,0},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{36,36}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>bullet02_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,132},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{36,36}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>bullet02_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,0},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{36,36}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>bullet02_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,243},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{36,36}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>bullet02_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,169},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{36,36}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>bullet02_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,37},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{36,36}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>bullet02_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,37},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{36,36}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>bullet02_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,315},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{36,36}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>bullet03_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,296},{54,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{54,36}}</string>
				<key>sourceSize</key>
				<string>{56,38}</string>
			</dict>
			<key>bullet03_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,259},{54,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{54,36}}</string>
				<key>sourceSize</key>
				<string>{56,38}</string>
			</dict>
			<key>bullet03_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,222},{54,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{54,36}}</string>
				<key>sourceSize</key>
				<string>{56,38}</string>
			</dict>
			<key>bullet03_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,37},{54,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{54,36}}</string>
				<key>sourceSize</key>
				<string>{56,38}</string>
			</dict>
			<key>bullet03_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,148},{54,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{54,36}}</string>
				<key>sourceSize</key>
				<string>{56,38}</string>
			</dict>
			<key>bullet03_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,111},{54,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{54,36}}</string>
				<key>sourceSize</key>
				<string>{56,38}</string>
			</dict>
			<key>bullet03_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,74},{54,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{54,36}}</string>
				<key>sourceSize</key>
				<string>{56,38}</string>
			</dict>
			<key>bullet03_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,37},{54,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{54,36}}</string>
				<key>sourceSize</key>
				<string>{56,38}</string>
			</dict>
			<key>bullet03_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,0},{54,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{54,36}}</string>
				<key>sourceSize</key>
				<string>{56,38}</string>
			</dict>
			<key>bullet03_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,333},{54,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{54,36}}</string>
				<key>sourceSize</key>
				<string>{56,38}</string>
			</dict>
			<key>bullet03_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,185},{54,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{54,36}}</string>
				<key>sourceSize</key>
				<string>{56,38}</string>
			</dict>
			<key>bullet03_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,259},{54,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{54,36}}</string>
				<key>sourceSize</key>
				<string>{56,38}</string>
			</dict>
			<key>bullet03_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,222},{54,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{54,36}}</string>
				<key>sourceSize</key>
				<string>{56,38}</string>
			</dict>
			<key>bullet03_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,296},{54,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{54,36}}</string>
				<key>sourceSize</key>
				<string>{56,38}</string>
			</dict>
			<key>bullet03_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,0},{54,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{54,36}}</string>
				<key>sourceSize</key>
				<string>{56,38}</string>
			</dict>
			<key>bullet03_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,333},{54,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{54,36}}</string>
				<key>sourceSize</key>
				<string>{56,38}</string>
			</dict>
			<key>bullet04_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,148},{72,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{72,36}}</string>
				<key>sourceSize</key>
				<string>{74,38}</string>
			</dict>
			<key>bullet04_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,111},{72,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{72,36}}</string>
				<key>sourceSize</key>
				<string>{74,38}</string>
			</dict>
			<key>bullet04_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,74},{72,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{72,36}}</string>
				<key>sourceSize</key>
				<string>{74,38}</string>
			</dict>
			<key>bullet04_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,37},{72,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{72,36}}</string>
				<key>sourceSize</key>
				<string>{74,38}</string>
			</dict>
			<key>bullet04_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,0},{72,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{72,36}}</string>
				<key>sourceSize</key>
				<string>{74,38}</string>
			</dict>
			<key>bullet04_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,333},{72,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{72,36}}</string>
				<key>sourceSize</key>
				<string>{74,38}</string>
			</dict>
			<key>bullet04_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,296},{72,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{72,36}}</string>
				<key>sourceSize</key>
				<string>{74,38}</string>
			</dict>
			<key>bullet04_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,259},{72,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{72,36}}</string>
				<key>sourceSize</key>
				<string>{74,38}</string>
			</dict>
			<key>bullet04_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,222},{72,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{72,36}}</string>
				<key>sourceSize</key>
				<string>{74,38}</string>
			</dict>
			<key>bullet04_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,185},{72,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{72,36}}</string>
				<key>sourceSize</key>
				<string>{74,38}</string>
			</dict>
			<key>bullet04_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,148},{72,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{72,36}}</string>
				<key>sourceSize</key>
				<string>{74,38}</string>
			</dict>
			<key>bullet04_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,111},{72,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{72,36}}</string>
				<key>sourceSize</key>
				<string>{74,38}</string>
			</dict>
			<key>bullet04_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,74},{72,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{72,36}}</string>
				<key>sourceSize</key>
				<string>{74,38}</string>
			</dict>
			<key>bullet04_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,37},{72,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{72,36}}</string>
				<key>sourceSize</key>
				<string>{74,38}</string>
			</dict>
			<key>bullet04_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{72,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{72,36}}</string>
				<key>sourceSize</key>
				<string>{74,38}</string>
			</dict>
			<key>bullet04_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,185},{72,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{72,36}}</string>
				<key>sourceSize</key>
				<string>{74,38}</string>
			</dict>
			<key>bullet11_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,74},{43,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,57}}</string>
				<key>sourceSize</key>
				<string>{43,57}</string>
			</dict>
			<key>bullet11_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,278},{43,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,57}}</string>
				<key>sourceSize</key>
				<string>{43,57}</string>
			</dict>
			<key>bullet12_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,220},{52,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,57}}</string>
				<key>sourceSize</key>
				<string>{52,57}</string>
			</dict>
			<key>bullet12_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,118},{52,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,57}}</string>
				<key>sourceSize</key>
				<string>{52,57}</string>
			</dict>
			<key>bullet13_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,74},{52,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,43}}</string>
				<key>sourceSize</key>
				<string>{52,43}</string>
			</dict>
			<key>bullet13_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,176},{52,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,43}}</string>
				<key>sourceSize</key>
				<string>{52,43}</string>
			</dict>
			<key>bullet14_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,292},{57,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{57,69}}</string>
				<key>sourceSize</key>
				<string>{59,71}</string>
			</dict>
			<key>bullet14_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,222},{57,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{57,69}}</string>
				<key>sourceSize</key>
				<string>{59,71}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{382,391}</string>
			<key>textureFileName</key>
			<string>batch_frame_bullet.png</string>
			</dict>
		</dict>
</plist>