<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>4_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{124,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,45}}</string>
				<key>sourceSize</key>
				<string>{124,45}</string>
			</dict>
			<key>4_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,46},{124,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,45}}</string>
				<key>sourceSize</key>
				<string>{124,45}</string>
			</dict>
			<key>4_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,92},{124,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,45}}</string>
				<key>sourceSize</key>
				<string>{124,45}</string>
			</dict>
			<key>4_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,138},{123,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{123,45}}</string>
				<key>sourceSize</key>
				<string>{124,45}</string>
			</dict>
			<key>4_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,184},{121,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{121,45}}</string>
				<key>sourceSize</key>
				<string>{124,45}</string>
			</dict>
			<key>4_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,0},{120,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{120,43}}</string>
				<key>sourceSize</key>
				<string>{124,45}</string>
			</dict>
			<key>4_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,138},{120,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{120,43}}</string>
				<key>sourceSize</key>
				<string>{124,45}</string>
			</dict>
			<key>4_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,184},{122,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{122,43}}</string>
				<key>sourceSize</key>
				<string>{124,45}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{246,230}</string>
			<key>textureFileName</key>
			<string>fish_frame_4.png</string>
			</dict>
		</dict>
</plist>